<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css')}}" />

        {% block javascripts %} 
            {% javascripts '@AppBundle/Resources/public/js/jquery-1.11.3.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/jquery.validate.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}

        <title>{% block title %} Task Tracker {% endblock title %}</title>
    {% endblock head %}

    {% block body_container %}
        <body>
            {% block body %}
                {% block header %}
                    <div class="navbar navbar-default">
                        <div class="container">
                            <a href="{{path('project_index')}}" class="navbar-brand">Watchtower</a>
                            <ul class="nav navbar-nav">
                                {% block navbar %}
                                    <li><a href="/project">Проекты</a></li>
                                    <li><a href="/">Задания</a></li>
                                    <li><a href="/">Пользователи</a></li>
                                    <span class="navbar-additional-pills">
                                        <ul class="nav navbar-nav">
                                            {% block additional_navbar_pills %}
                                            {% endblock %}
                                        </ul>
                                    </span>
                                {% endblock navbar %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-bar-logout-container">
                                    <span class="top-navbar-text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                                    <a class="nav-bar-logout" href="logout">Выйти
                                        <span class="glyphicon glyphicon-align-left glyphicon-log-out glyphicon-white" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}

                <div class="container">
                    {% if is_granted('ROLE_USER') %}
                        ROLE_USER
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                        ROLE_MANAGER
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        ROLE_SUPER_ADMIN
                    {% endif %}
                </div>

                <div class="container">

                    <div class="breadcrumps-container">
                        {% block breadcrumps %}
                        {% endblock %}
                    </div>

                    {% block content %}
                    {% endblock %}

                    {% block footer %}
                        <div class="footer text-center">
                            <hr><a href="#">Skovoroda Production</a>
                        </div>
                    {% endblock  %}

                </div>
            {% endblock body %}
        </body>
    {% endblock body_container %}
</html>