<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/app/css/nanoscroller.css')}}" />

        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css')}}" />


        {% block javascripts %} 

            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.11.3.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.validate.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.nanoscroller.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/app/js/highcharts.js') }}"></script>

            {#
            {% javascripts '@AppBundle/Resources/public/js/jquery-1.11.3.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/jquery.validate.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/jquery.nanoscroller.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AppBundle/Resources/public/js/highcharts.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            #}
        {% endblock javascripts %}

        <title>{% block title %} Task Tracker {% endblock title %}</title>
    {% endblock head %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-msg flash-notice alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-msg flash-error alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% block body_container %}
        <body>
            {% block body %}
                {% block header %}
                    <div class="navbar navbar-default">
                        <div class="container">
                            <a href="{{path('project_index')}}" class="navbar-brand">Трекер задач</a>
                            <ul class="nav navbar-nav">
                                {% block navbar %}

                                    <li><a href="{{ path('project_index') }}">Проекты</a></li>
                                        {% if is_granted('ROLE_MANAGER') %}
                                        <li><a href="{{ path('user') }}">Пользователи</a></li>
                                        {% endif %}
                                    <span class="navbar-additional-pills">
                                        <ul class="nav navbar-nav">
                                            {% block additional_navbar_pills %}
                                            {% endblock %}
                                        </ul>
                                    </span>
                                {% endblock navbar %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-bar-logout-container">
                                    <span class="top-navbar-text">
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                    </span>
                                    <a class="nav-bar-logout" href="{{ path('fos_user_security_logout') }}">Выйти
                                        <span class="glyphicon glyphicon-align-left glyphicon-log-out glyphicon-white" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endblock %}

                {#
                <div class="container">
                    {% if is_granted('ROLE_USER') %}
                        ROLE_USER
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                        ROLE_MANAGER
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        ROLE_SUPER_ADMIN
                    {% endif %}
                </div>
                #}

                <div class="container">

                    <div class="breadcrumps-container">
                        {% block breadcrumps %}
                        {% endblock %}
                    </div>

                    {% block content %}
                    {% endblock %}

                    {% block footer %}
                        <div class="footer text-center text-muted">
                            <hr>Bober Mark 2015
                        </div>
                    {% endblock  %}

                </div>
                <script>
                    $(document).ready(function () {
                        var messages = $('.flash-msg');
                        messages.addClass('visible-msg');
                        setTimeout(function () {
                            messages.removeClass('visible-msg');
                            setTimeout(function () {
                                messages.remove();
                            }, 600)
                        }, 3000)
                    });
                </script>
            {% endblock body %}
        </body>
    {% endblock body_container %}
</html>
