{% trans_default_domain 'FOSUserBundle' %}

<div class="login-form-container">
    <div class="login-form-header">
        Регистрация.
        <div class="text-center muted">
            <a href="{{ path('fos_user_security_login') }}">Вход</a> если у Вас уже есть аккаунт.
        </div>
    </div>
    <hr class="hr-or">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input class="simple-button" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
</div>