{% extends 'base.html.twig' %}

{% block title %}
    Projects
{% endblock title %}

{% block additional_navbar_pills %}
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href="{{ path("project_create") }}">Создать новый проект</a></li>
        <li><a href="{{ path("projects_archived") }}">Архивированные проекты</a></li>
        {% endif %}
    {% endblock additional_navbar_pills %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-6">
                <h3>Ваши проекты</h3>
                <div class="list-project-container">
                    {% for project in user_projects %}
                        <div class="{{ project.Id }}-project-container">
                            <div class="well">
                                <a href="{{ path('project_show',{'id':project.id}) }}">{{ project.Name }}</a>
                                <span class="text-muted">{{ project.CreatedAt  | localizeddate('long', 'none', null, null, 'd MMMM Y H:mm')  }}</span>
                                {% if is_granted('ROLE_MANAGER') %}
                                    <span class="pull-right">
                                        <a href="{{ path('project_edit', {'id':project.id }) }}" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="{{ path('invite_to_project', {'id':project.id }) }}"title="Добавить пользователей"><span class="glyphicon glyphicon-user"></span></a>
                                        <a data-id="{{ project.Id }}" id="archive-project" title="Архивировать"><span class="glyphicon glyphicon-save"></span></a>
                                    </span>
                                {% endif %}
                                <p>{{ project.Description }}</p>

                            </div>
                        </div>
                    {% else %}
                        Здесь будут отображаться ваши проекты.
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <h3>Последние события</h3>
                <div class="list-project-container">
                    {% for proj in user_projects %}
                        {% for event in events %}
                            {% if event.getTask.getProject.getId == proj.getId %}
                                {% if loop.first %} 
                                    <div class="text-center"><h5>Проект {{ proj.getName }}</h5></div>
                                {% endif %}
                                <div class="well small-well-task">
                                    <span style="font-size:13px;" class="glyphicon glyphicon-user task-inline-glyphicons"></span>
                                    <strong>{{ event.getUser.getUsername }}</strong>
                                    {{ event.getEvent | logstaterus}}
                                    <a href="{{ path('task_show',{'project_id':event.getTask.getProject.getId,'task_id':event.getTask.getId}) }}">
                                        {{ event.getTask.getName|length > 17 ? event.getTask.getName[:17]~'...' : event.getTask.getName}}
                                    </a>
                                    {{ event.getDate | localizeddate('long', 'none', null, null, 'd MMMM Y H:mm') }} 
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="text-muted">Нет событий</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        {#
<div class="row">
    {% if is_granted('ROLE_MANAGER') %}
        <div class="col-xs-12">
            <h3>Все проекты</h3>
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-6">
                        <div class="well">
                            <a href="{{ path('project_show',{'id':project.id}) }}">{{ project.Name }}</a>
                            <div class="">{{ project.archived ? 'Архивирован' : '' }}</div>
                            <span class="text-muted">{{ project.CreatedAt |date("jS F Y \\a\\t H:i") }}</span>
                            <p>{{ project.Description }}</p>
                        </div>
                    </div>
                {% else %}
                    Здесь будут отображаться все проекты.
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
#}

    </div>
</div>


<div id="modal-container">
    <div class="modal fade custom-modal" id="archive-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Архивирование проекта</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        Вы уверены что хотите архивировать этот проект?
                    </div>
                    <form method="post">
                        <button data-id="" type="submit" value="start" class="modal-button-archive-project button alert-button">Архивировать</button>
                        <button type="button" class="simple-button" data-dismiss="modal" aria-label="Close">Закрыть</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Modal form handler
        $('#modal-container').on("click", '.modal-button-archive-project', function () {
            var project_id = $(this).attr("data-id");
            $('form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{{ path('ajax_archive_project') }}",
                    data: {
                        project_id: project_id,
                        action: 'archive'
                    },
                    cache: false,
                    success: function (data) {
                        $('#archive-project-modal').modal('hide');
                        $('.' + project_id + '-project-container').remove();
                    }
                });
            });
        });
        // Archive button handler
        $('.list-project-container').on("click", '#archive-project', function () {
            var project_id = $(this).attr("data-id");
            $('#archive-project-modal').modal('show');
            $('#archive-project-modal').find('.modal-button-archive-project').attr("data-id", project_id);
        });
    });
</script>
{% endblock content %}