{% extends 'base.html.twig' %}

{% block title %}
    Inviting to a project
{% endblock %}

{% block breadcrumps %}
    <h4>Добавление участников в проект <strong>{{ project.Name }}</strong></h4>
{% endblock %}

{% block content %}

    <div>
        <div class="well">
            <h3>{{ project.Name }} 
                <span class="small">
                    {{ project.CreatedAt|date("jS F Y \\a\\t H:i") }}
                </span>
            </h3>
                <hr>
            <p>{{ project.Description }}</p>
        </div>
    </div>


    <form action="{{ path("invite_to_project", {'id': id}) }}" method="post">

        {{ form_widget(form) }}
        {% if (form.users is empty) %} 
            <p>Пользователи, не включенные в данный проект отсутствуют</p>
        {% endif %}

        <input type="submit" class="simple-button" value="Сохранить изменения" />
    </form>

{% endblock %}