{% extends 'base.html.twig' %}

{% block title %}
    Project {{ project.Name }}
{% endblock title %}

{% block additional_navbar_pills %}
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href="{{ path('task_create',{'project_id':project.id}) }}">Создать новую задачу</a></li>
        <li><a href="{{ path('invite_to_project',{'id':project.id}) }}">Добавить участников</a></li>
        {% endif %}
    {% endblock additional_navbar_pills %}

{% block breadcrumps %}
    <h3>{{ project.Name }}</h3>
{% endblock %}

{% block content %}

    <div class="row dashboard-tasks-container">

        {# ПРОСРОЧЕННЫЕ #}
        <div class="col-md-4 task-group-container-wrapper">
            <div class="task-group-container">
                <span class="task-group-header">Просроченные</span>
                {% for sprint in expired_sprints %}
                    <div class="task-sprint-container">
                        <span class="task-group-header">{{ sprint.getDateStart()|localizeddate('long', 'none', null, null, 'd MMMM') }} &mdash; {{ sprint.getDateEnd()|localizeddate('long', 'none', null, null, 'd MMMM') }}</span> 
                        {% for task in sprint.getTask() %}
                            {% if  (not(task.getParent()) and not(task.getChildren().count)) or ((task.getChildren().count) and not (task.getParent())) %}
                                {{ include('project/tasks/task_list.html.twig', { 'task': task }) }}
                            {% endif %}
                        {% else %}
                            <div class="no-tasks-container text-center text-muted">
                                Нет доступных задач
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-sprints-container text-center text-muted">
                        Нет доступных спринтов
                    </div>
                {% endfor %}
            </div>
        </div>

        {# БЭКЛОГ #}
        <div class="col-md-4 task-group-container-wrapper">
            <div class="task-group-container">
                <span class="task-group-header">Бэклог</span>
                {% for sprint in actual_sprints %}
                    <div class="task-sprint-container">
                        <span class="task-group-header">{{ sprint.getDateStart()|localizeddate('long', 'none', null, null, 'd MMMM') }} &mdash; {{ sprint.getDateEnd()|localizeddate('long', 'none', null, null, 'd MMMM') }}</span> 
                        {% for task in sprint.getTask() %}
                            {% if  (not(task.getParent()) and not(task.getChildren().count)) or ((task.getChildren().count) and not (task.getParent())) %}
                                {{ include('project/tasks/task_list.html.twig', { 'task': task }) }}
                            {% endif %}
                        {% else %}
                            <div class="no-tasks-container text-center text-muted">
                                Нет доступных задач
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-sprints-container text-center text-muted">
                        Нет доступных спринтов
                    </div>
                {% endfor %}
            </div>
        </div>

        {# НЕНАЗНАЧЕННЫЕ #}
        <div class="col-md-4 task-group-container-wrapper">
            <div class="task-group-container">
                <span class="task-group-header">Неназначенные</span>
                <div class="task-sprint-container">
                    {% for task in unassigned_tasks %}
                            {% if  (not(task.getParent()) and not(task.getChildren().count)) or ((task.getChildren().count) and not (task.getParent())) %}
                                {{ include('project/tasks/task_list.html.twig', { 'task': task }) }}
                            {% endif %}
                    {% else %}
                        <div class="no-tasks-container text-center text-muted">
                            Нет доступных задач
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="modal-container">
        <div class="modal fade custom-modal" id="task-state-modal">

        </div>
    </div>

    <script>
        $(document).ready(function () {
        // Modal form handler
        $('#modal-container').on("click", '.modal-button-change-state', function () {
        var new_state = $(this).attr("value");
                var task_id = $(this).attr("data-id");
                $('form').on('submit', [new_state, task_id], function (e) {
        e.preventDefault();
                if ($(this).valid()) {
        var estimated_time = $('#form_estimated_time').val();
                var spended_time = $('#form_spended_time').val();
                $.ajax({
                type: "POST",
                        url: "{{ path('ajax_change_task_state') }}",
                        data: {
                        project_id:{{ project.id }},
                                task_id: task_id,
                                new_state : new_state,
                                estimated_time : estimated_time,
                                spended_time : spended_time,
                                view: 'list'
                        },
                        cache: false,
                        success: function (data) {
                        $('#task-state-modal').modal('hide');
                                $('#' + task_id + '-task-container').replaceWith(data);
                        }
                });
        }
        });
        });
                // Task button handler
                $('.task-group-container').on("click", '.button-change-state', function () {
        var new_state = $(this).attr("value");
                var task_id = $(this).attr("data-id");
                $.ajax({
                type: "POST",
                        url: "{{ path('ajax_change_task_state_dialog') }}",
                        data: {
                        project_id:{{ project.id }},
                                task_id: task_id,
                                new_state : new_state
                        },
                        cache: false,
                        success: function (data) {
                        $('#task-state-modal').replaceWith(data);
                                $('#task-state-modal').modal('show');
                        }
                });
        });
        });
    </script>


{% endblock content %}