{% extends 'base.html.twig' %}

{% block title %}
    Project {{ project.Name }}
{% endblock title %}

{% block content %}

    <div>
        <h3>{{ project.Name }}</h3>
        <a href="/project/{{ id }}/invite">Добавить участников</a>
        <div class="well">
            <h3>{{ project.Name }}</h3>
            {{ project.CreatedAt|date("jS F Y \\a\\t H:i") }}
            <p>{{ project.Description }}</p>
        </div>
    </div>

{% endblock content %}