{% extends 'base.html.twig' %}

{% block title %}
    Редактирование {{ entity.username }}
{% endblock %}

{% block additional_navbar_pills %}
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href="{{ path('user_new') }}">Добавить нового пользователя</a></li>
        {% endif %}
    {% endblock %}

{% block breadcrumps %}
    <h3>
        <a href="{{ path('user') }}">Список пользователей</a>
        &mdash;
        Редактирование {{ entity.username }}
    </h3>
{% endblock %}

{% block content -%}
    <div class="row">
        <div class="col-sm-6">
            {{ form(edit_form) }}
        </div>
    </div>
    {{ form(delete_form) }}
{% endblock %}
