{% extends 'base.html.twig' %}

{% block title %}
    Пользователь {{ entity.username }}
{% endblock %}

{% block additional_navbar_pills %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('user_edit', { 'id': entity.id }) }}">Редактировать</a></li>
        {% endif %}
    {% endblock %}

{% block breadcrumps %}
    <h3>
        <a href="{{ path('user') }}">Список пользователей</a>
        &mdash;
        {{ entity.username }}
    </h3>
{% endblock %}

{% block content -%}
    <table class="record_properties full-task-view">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>

            <tr>
                <th>Юзернейм</th>
                <td>{{ entity.username }}</td>
            </tr>

            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>

            <tr>
                <th>Роли</th>
                <td>{{ entity.roles|join(',')}}</td>
            </tr>

            <tr>
                <th>Дата последнего входа</th>
                <td>{{ entity.lastLogin| localizeddate('long', 'none', null, null, 'd MMMM Y H:mm')  }}</td>
            </tr>

            <tr>
                <th>Заблокирован</th>
                <td>{{ entity.enabled? 'Нет' :'Да' }}</td>
            </tr>

            <tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        {{ form(delete_form) }}
    {% endif %}
{% endblock %}
