{% extends 'base.html.twig' %}

{% block title %}
    Task {{ task.Name }}
{% endblock title %}

{% block additional_navbar_pills %}
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href="{{ path('task_create',{'project_id':project.id}) }}">Создать новую задачу</a></li>
        {% endif %}
    {% endblock additional_navbar_pills %}

{% block content %}

    <div>
        <h3><a href="{{ path('project_show', {id: project.id}) }}">{{ project.Name }}</a> - {{ task.Name }}</h3>
        {{  task.Description }}
        {{ task.EstimatedTime }}
    </div>

    <ul class="list-group">
      {% for task_child in child_tasks %}
        <li class="list-group-item"><a href="{{ path('task_show', {project_id: project_id, task_id: task_child.id}) }}">{{ task_child.Name }}</a></li>
      {% endfor %}
    </ul>

{% endblock content %}