<div class="task-full-container">
    <table class="full-task-view">
        <tr>
            <td>Название:</td>
            <td>{{  task.Name }}</td>
        </tr>
        <tr>
            <td>Дата создания:</td>
            <td>{{  task.CreatedAt | localizeddate('long', 'none', 'd MMMM') }}</td>
        </tr>
        <tr>
            <td>Участник:</td>
            <td>{{  task.getuser }}</td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>{{  task.Description }}</td>
        </tr>
        <tr>
            <td>Текущее состояние:</td>
            <td>{{  task.State }}</td>
        </tr>
        <tr>
            <td>Установленный спринт:</td>
            <td>{{  sprint }}</td>
        </tr>
        <tr>
            <td>Предполагаемое время выполнения:</td>
            <td>{{  task.EstimatedTime }}</td>
        </tr>
        <tr>
            <td>Итоговое время выполнения:</td>
            <td>{{  task.SpendedTime }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <input id type="hidden" value="{{ task.name }}">
            {% if task.State  == 'Started'%}
                <button data-id="{{ task.Id }}" type="button" value="deny" class="button-change-state button alert-button">Отказаться</button>
                <button data-id="{{ task.Id }}" type="button" value="finish" class="button-change-state button finish-button">Закончить</button>
            {% elseif task.State == 'Unstarted' %}
                <button data-id="{{ task.Id }}" type="button" value="start" class="button-change-state button success-button">Начать</button>
            {% endif %}
        </div>
    </div>
</div>