<div class="task-full-container">

    {% set this_page = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('task_show',{'project_id':project.id,'task_id':task.id}) %}
    {% if  this_page %}         
        <div class="row">
            <div class="col-sm-7">

            {% endif %}

            <table class="full-task-view">
                <tr>
                    <td>Название:</td>
                    {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == path('task_show',{'project_id':project.id,'task_id':task.id}) %}
                        <td>{{  task.Name }}</td>
                    {% else %}
                        <td><a href='{{path('task_show',{'project_id':project.id,'task_id':task.id})}}'>{{  task.Name }}</a></td>
                        {% endif %}
                </tr>
                <tr>
                    <td>Дата создания:</td>
                    <td>{{  task.CreatedAt | localizeddate('long', 'none', 'd MMMM') }}</td>
                </tr>
                {% if not (task.getChildren().count) %}
                    <tr>
                        <td>Участник:</td>
                        <td>{{  task.getuser }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Описание:</td>
                    <td>{{  task.Description }}</td>
                </tr>
                <tr>
                    <td>Текущее состояние:</td>
                    <td>{{  task.State }}</td>
                </tr>
                <tr>
                    <td>Установленный спринт:</td>
                    <td>{{  sprint }}</td>
                </tr>
                {% if not (task.getChildren().count) %}
                    <tr>
                        <td>Предполагаемое время выполнения:</td>
                        <td>{{  task.EstimatedTime ? task.EstimatedTime~' часов' : ''}}</td>
                    </tr>
                    <tr>
                        <td>Итоговое время выполнения:</td>
                        <td>{{  task.SpendedTime ? task.SpendedTime~' часов' : ''}}</td>
                    </tr>
                {% endif %}
            </table>

            {% if  this_page %}         
            </div>
            <div class="col-sm-5">
                <div class="">
                    <div class="full-task-subtask-element-header text-center">История изменений</div>
                    {% for event in events %}
                        <div class="well small-well-task">
                            <span style="font-size:13px;" class="glyphicon glyphicon-user task-inline-glyphicons"></span>
                            <strong>{{ event.getUser.getUsername }}</strong>
                            {{ event.getEvent | logstaterus}}
                            {{ event.getDate | localizeddate('long', 'none', null, null, 'd MMMM Y H:mm') }} 
                        </div>
                    {% endfor %}
                </div>

            </div>  
        </div>
    {% endif %}


    <div class="row">
        <div class="{{ this_page ? 'owner-button-container' : 'col-sm-offset-1 ' }}  full-task-button-container col-sm-4">
            <input id type="hidden" value="{{ task.name }}">
            {% if not (task.getChildren().count) %}
                {% if task.state  == 'Started'  and task.getUser == user %}
                    <button data-id="{{ task.Id }}" type="button" value="deny" class="button-change-state button alert-button">Отказаться</button>
                    <button data-id="{{ task.Id }}" type="button" value="finish" class="button-change-state button finish-button">Закончить</button>
                {% elseif task.state == 'Unstarted' %}
                    <button data-id="{{ task.Id }}" type="button" value="start" class="button-change-state button success-button">Начать</button>
                {% endif %}
            {% else %}
                <div style='width: 200px'><strong>{{task.getChildren().count}} 
                        {{ task.getChildren().count|subtaskrus }}</strong></div>
                    {% endif %}
        </div>
    </div>
</div>