<div id="{{ task.Id }}-task-container" class="task-container {% if task.state  == 'Finished'%}done-task-container{% elseif task.state == 'Started' %}important-task-container{% else %}simple-task-container{% endif %}">

    {% if ((task.getChildren().count))%} <div class="parent-task"></div> {% endif %}
    {% if task.getParent() %}  <div class="child-task"></div> {% endif %}
    <div style="margin-left:-10px;margin-right:-10px;" class="row">

        <div class="{{ task.getUser ? 'col-xs-7' :'col-xs-9' }}">
            {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('task_edit', {'project_id': project.id, 'task_id':task.id }) }}" title="Редактировать задачу"><span class="glyphicon glyphicon-pencil edit-task-icon"></span></a>
                {% endif %}
            <a class="task-link-name" href="{{ path('task_show',{'project_id':project.id, 'task_id':task.id}) }}">                
                {{ task.name }}
            </a>
        </div>
        <div style="text-align:right;" class="{{ task.getUser ? 'col-xs-5' :'col-xs-3 glyphicon-muted' }}">
            {% if task.getUser %}
                <div>
                    <span class="glyphicon glyphicon-user task-inline-glyphicons"></span>
                    <span class="glyphicon-related-text">{{task.getUser}}</span>
                </div>
            {% else %}
                <span class="glyphicon glyphicon-user task-inline-glyphicons"></span>
            {% endif %}

            {% if (task.estimatedTime) or (task.spendedTime) %}
                <div>
                    <span class="glyphicon glyphicon-time task-inline-glyphicons"></span>
                    <span class="glyphicon-related-text">{{ task.estimatedTime? task.estimatedTime~'ч':'–' }} / {{ task.spendedTime? task.spendedTime~'ч':'–' }}</span>
                </div>
            {% else %}
                <span class="glyphicon glyphicon-time task-inline-glyphicons"></span>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class=" task-bottom-buttons-separator"></div>
        <div class="col-xs-5 task-subtask-link-container">
            {% if task.getChildren().count %}
                <a data-toggle="collapse" data-target=".{{task.Id}}-parent-task-child" id="{{task.Id}}-parent-task" class="parent-task-toggle-children">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    <span>{{task.getChildren().count}} 
                    {{ task.getChildren().count|subtaskrus }}
                    </span>
                </a>
            {% endif %}
        </div>
        <div class="col-xs-7">
            <div class="pull-right">
                {% if not (task.getChildren().count) %}
                    {% if task.state  == 'Started'  and task.getUser == user %}
                        <button data-id="{{ task.Id }}" type="button" value="deny" class="button-change-state button alert-button">Отказаться</button>
                        <button data-id="{{ task.Id }}" type="button" value="finish" class="button-change-state button finish-button">Закончить</button>
                    {% elseif task.state == 'Unstarted' %}
                        <button data-id="{{ task.Id }}" type="button" value="start" class="button-change-state button success-button">Начать</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if task.getChildren().count %}
    <div class="child-tasks-container {{ task.Id}}-parent-task-child collapse">
        {% for child_task in task.getChildren() %}
            {{ include('project/tasks/task_list.html.twig', { 'task': child_task }) }}
        {% endfor %}
    </div>
{% endif %}