<div id="{{ task.Id }}-task-container" class="task-container {% if task.state  == 'Finished'%}done-task-container{% elseif task.state == 'Started' %}important-task-container{% else %}simple-task-container{% endif %}">

    {% if ((task.getChildren().count))%} <div class="parent-task"></div> {% endif %}
    {% if task.getParent() %}  <div class="child-task"></div> {% endif %}
    <div style="margin-left:5px;margin-right:-5px;" class="row">

        <div class="col-xs-8">
            {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('project_edit', {'id':1 }) }}" title="Редактировать задачу"><span class="glyphicon glyphicon-pencil edit-task-icon"></span></a>
                {% endif %}
            <a class="task-link-name" href="{{ path('task_show',{'project_id':project.id,'task_id':task.id}) }}">                
                {{ task.name }}
            </a>
        </div>
        <div class="col-xs-4">
            {% if (task.getUser) %}
                <span style="display:inline;padding: 5px;" class="glyphicon glyphicon-user"></span><span>{{ task.getUser }}</span>
                {% endif %}
        </div>
        <div class="clearfix "></div>
        <div class="col-xs-5 task-subtask-link-container">
            {% if task.getChildren().count %}
                <a data-toggle="collapse" data-target=".{{task.Id}}-parent-task-child" id="{{task.Id}}-parent-task" class="parent-task-toggle-children">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    {{task.getChildren().count}} 
                    {{ task.getChildren().count|subtaskrus }}
                </a>
            {% endif %}
        </div>
        <div class="col-xs-7">
            <div class="pull-right">
                <input id type="hidden" value="{{ task.name }}">
{# удалить нахзуй кнопку  #}
                {% if (task.getChildren().count) and (task |checkchildrenstate) %}
                    <button data-id="{{ task.Id }}" type="button" value="finish" class="button-change-state button finish-button">Закончить</button>
                {% elseif not (task.getChildren().count) %}
                    {% if task.state  == 'Started'  and task.getUser == user %}
                        <button data-id="{{ task.Id }}" type="button" value="deny" class="button-change-state button alert-button">Отказаться</button>
                        <button data-id="{{ task.Id }}" type="button" value="finish" class="button-change-state button finish-button">Закончить</button>
                    {% elseif task.state == 'Unstarted' %}
                        <button data-id="{{ task.Id }}" type="button" value="start" class="button-change-state button success-button">Начать</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if task.getChildren().count %}
    <div class="child-tasks-container {{ task.Id}}-parent-task-child collapse">
        {% for child_task in task.getChildren() %}
            {{ include('project/tasks/task_list.html.twig', { 'task': child_task }) }}
        {% endfor %}
    </div>
{% endif %}